<a href="https://colab.research.google.com/github/8016971464/AmitGoswami/blob/main/Decesion_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DECISION TREE IN MACHINE LEARNING
(MALE AND FEMALE PREDICTION USING BY DECISION TREE)

In [1]:
import pandas as pd
from sklearn import tree

In [4]:
from google.colab import files 
files.upload()

Saving Male_Female.csv to Male_Female.csv

{'Male_Female.csv': b'Height ,Weight,Shoe Size,Gender\n181,80,44,Male\n177,70,43,Female\n160,60,38,Female\n154,54,37,Female\n166,65,40,Male\n190,90,47,Male\n175,64,39,Male\n171,75,42,Female\n185,85,43,Female\n169,71,42,Male\n'}

In [5]:
df=pd.read_csv("Male_Female.csv")

In [6]:
df

   Height   Weight  Shoe Size  Gender
0      181      80         44    Male
1      177      70         43  Female
2      160      60         38  Female
3      154      54         37  Female
4      166      65         40    Male
5      190      90         47    Male
6      175      64         39    Male
7      171      75         42  Female
8      185      85         43  Female
9      169      71         42    Male

In [7]:
df.head(4)

   Height   Weight  Shoe Size  Gender
0      181      80         44    Male
1      177      70         43  Female
2      160      60         38  Female
3      154      54         37  Female

In [8]:
x=df.iloc[:,:-1]

In [9]:
x

   Height   Weight  Shoe Size
0      181      80         44
1      177      70         43
2      160      60         38
3      154      54         37
4      166      65         40
5      190      90         47
6      175      64         39
7      171      75         42
8      185      85         43
9      169      71         42

In [10]:
y=df.iloc[:,3]

In [11]:
y

0      Male
1    Female
2    Female
3    Female
4      Male
5      Male
6      Male
7    Female
8    Female
9      Male
Name: Gender, dtype: object

In [12]:
classify_=tree.DecisionTreeClassifier()

In [13]:
classify_=classify_.fit(x,y)

In [16]:
prediction_=classify_.predict([[181,80,44]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [17]:
prediction_

array(['Male'], dtype=object)

Here the result is Male .
By the help of Decision Tree Algorithm we detect the male or female from given a data set.